body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f5;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.car-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 8px;
  background: #fff;
}

footer {
  text-align: center;
  padding: 16px;
  background: #333;
  color: #fff;
}
.centered-text {
  text-align: center;       
  font-size: 2rem;          
  font-weight: bold;       
  margin-top: 20px;       
}
.large-text {
  font-size: 1rem; 
} 
.image-container {
  display: flex;            
  justify-content: space-between; /* Space between the images */
  flex-wrap: wrap;         
  margin: 0 -10px;  }
  
 

.image {
  flex: 1 1 calc(25% - 20px); 
  margin: 10px;             
  max-width: 100%;          
  height: auto;             
}